@charset "utf-8";
/* CSS Document */
@import
	url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic)
	;

body {
	background-color: #f0f0f0;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #5a5c5e;
}

h1,h2,h3,h4,.header .title {
	font-weight: 600;
}

body>header {
	background-color: #232425;
	min-height: 3px;
	margin-bottom: 20px;
}

.grid-stack { /*background: lightgoldenrodyellow;*/
	
}

.grid-stack-item-content {
	color: #2c3e50;
	background-color: #ffffff;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.06);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.06);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.06);
}

.grid-stack-item-content>.header {
	text-align: center;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: horizontal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	border-bottom: 1px solid #f1f1f1;
}

.grid-stack-item-content>.header>div {
	flex: 1;
	padding: 8px 5px;
	border-left: 1px solid #f1f1f1;
}

.grid-stack-item-content>.header>div:first-child {
	border-left: none;
}

.grid-stack-item-content>.header>div.iconMenu {
	flex: 0 0 35px;
	text-align: center;
	overflow: hidden;
	text-indent: -9000px;
	cursor: pointer;
	position: relative;
}

.grid-stack-item-content>.header>div.iconMenu:after {
	text-indent: 0;
	left: 0;
	top: 0;
	color: #c5c5ca;
	position: absolute;
	text-align: center;
	width: 100%;
	content: '';
	font-family: 'FontAwesome';
	font-size: 10px;
	line-height: 30px;
}

.grid-stack-item-content>.header>div.iconMenu:hover:after {
	color: inherit;
}

.grid-stack-item-content>.header>div.iconMenu.dragPoint:after {
	content: '\f047';
}

.grid-stack-item-content>.header>div.iconMenu.refreshBTN:after {
	content: '\f021';
}

.grid-stack-item-content>.header>div.iconMenu.closeBTN:after {
	content: '\f00d';
}

.grid-stack>.grid-stack-item>.ui-resizable-se,.grid-stack>.grid-stack-item>.ui-resizable-sw
	{
	background: none;
	transform: rotate(90deg);
}

.grid-stack>.grid-stack-item>.ui-resizable-se:after,.grid-stack>.grid-stack-item>.ui-resizable-sw:after
	{
	font-family: 'FontAwesome';
	font-size: 12px;
	line-height: 30px;
	content: '\f065';
}

/*************new css*************/
.custem-table-data {
	width: 100%;
	padding: 10px;
}

.custem-table-data table {
	border-spacing: 0;
	border-collapse: collapse;
}

.custem-table-data table tr {
	margin: 0;
	padding: 0;
}

.custem-table-data table tr td {
	text-transform: capitalize;
	font-size: 13px;
	text-align: left;
	font-weight: normal;
	padding: 2px 0px;
	border-bottom: 1px solid #f1f1f1;
}

.custem-table-data table tr td:last-child {
	font-weight: bold;
	text-align: right;
}

.custem-table-data table tr td table tr td {
	font-size: 12px;
	padding: 1px 0px 1px 5px;
	border-bottom: 0;
}

.custem-table-data table tr td table tr td:last-child {
	
}

.active-special-table {
	width: 100%;
	overflow-y: hidden;
	overflow-x: auto;
}

.tier-row {
	width: 100%;
	padding: 0px 10px;
	margin-bottom: 5px;
	float: left;
}

.tier-row h5 {
	
}

.tier-step {
	width: 100%;
	overflow: hidden;
}

.col-tiers {
	float: left;
	width: calc(100% -   88%);
	margin-right: 10%;
	position: relative;
}

.tier-amt {
	width: 100%;
	background-color: #0c7cd8;
	color: #fff;
	padding: 5px 0px;
	text-align: center;
	border-radius: 3px;
}

.col-tiers span {
	display: block;
	text-align: center;
	color: #0079dc;
}

.col-tiers:after {
	border-top: 6px solid rgba(0, 153, 204, 0);
	border-bottom: 6px solid rgba(0, 153, 204, 0);
	border-left: 6px solid rgb(0, 0, 0);
	border-right: 6px solid rgba(0, 0, 0, 0);
	bottom: 0px;
	content: "";
	position: absolute;
	margin-left: -10px;
	width: 0;
	height: 0;
	top: 7px;
}

.col-tiers:before {
	background-color: black;
	bottom: 0px;
	content: "";
	position: absolute;
	margin-left: 0;
	width: 69%;
	height: 1px;
	top: 12px;
	right: 110%;
}

.tier-step>.col-tiers:last-child {
	margin-right: 0;
}

.tier-step>.col-tiers:first-child:after,.tier-step>.col-tiers:first-child:before
	{
	content: '';
	display: none;
}

.bronze-color {
	background-color: #CD7F32;
}

.silver-color {
	background-color: #604a7b;
}

.gold-color {
	background-color: #DAA520;
}

.diamond-color {
	background-color: #7d1242;
}

.platinum-color {
	background-color: #E5E4E2;
}

.hide {
	display: none
}

.spinner {
	position: absolute;
	top: 100px;
	left: 240px;
	z-index: 100;
}
