
body {
   font: 12px/1.6 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}


a {
    color: #4080C0;
    text-decoration: none;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC -moz-use-text-color #FFFFFF;
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
    clear: both;
    height: 0;
    margin: 10px auto;
}
ol {
    list-style: decimal outside none;
}
ul {
    list-style: square outside none;
}
li {
    margin-bottom: 10px;
    margin-left: 30px;
}
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
    margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
    margin-bottom: 10px;
    margin-top: 15px;
}
h1 {
    font-size: 21px;
}
h2 {
    font-size: 19px;
}
h3 {
    font-size: 17px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
h1 a {
    font-weight: normal;
}
img {
    margin: 5px 5px 12px;
}
strong, b {
    font-weight: 700;
}
em {
    font-style: italic;
}
sub {
    font-size: 0.76em;
}
.margin1 a {
    margin-left: 1px;
    margin-right: 1px;
}
.margin5 a {
    margin-left: 5px;
    margin-right: 5px;
}
.margin10 a {
    margin-left: 10px;
    margin-right: 10px;
}
.margin20 a {
    margin-left: 20px;
    margin-right: 20px;
}
.margin25 a {
    margin-left: 25px;
    margin-right: 25px;
}
.margin30 a {
    margin-left: 30px;
    margin-right: 30px;
}
.margin40 a {
    margin-left: 40px;
    margin-right: 40px;
}
.margin50 a {
    margin-left: 50px;
    margin-right: 50px;
}
.marginb0 {
    margin-bottom: 0 !important;
}
.textcenter {
    text-align: center;
}
.textleft {
    text-align: left;
}
.textright {
    text-align: right;
}
.alignleft {
    float: left;
    margin-left: 0;
    margin-right: 10px;
}
.alignright {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}
.aligncenter {
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.relative {
    position: relative;
}
.left {
    float: left;
}
.right {
    float: right;
}
.center {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
img.center {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img_border {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 3px;
}
.light_box_demo img {
    border: 1px solid #333333;
}
.sizew5 {
    width: 5px !important;
}
.sizew10 {
    width: 10px !important;
}
.sizew15 {
    width: 15px !important;
}
.sizew20 {
    width: 20px !important;
}
.sizew25 {
    width: 25px !important;
}
.sizew30 {
    width: 30px !important;
}
.sizew35 {
    width: 35px !important;
}
.sizew40 {
    width: 40px !important;
}
.sizew45 {
    width: 45px !important;
}
.sizew50 {
    width: 50px !important;
}
.sizew55 {
    width: 55px !important;
}
.sizew60 {
    width: 60px !important;
}
.sizew65 {
    width: 65px !important;
}
.sizew70 {
    width: 70px !important;
}
.sizew75 {
    width: 75px !important;
}
.sizew80 {
    width: 80px !important;
}
.sizew85 {
    width: 85px !important;
}
.sizew90 {
    width: 90px !important;
}
.sizew95 {
    width: 95px !important;
}
.sizew100 {
    width: 100px !important;
}
.sizew200 {
    width: 200px !important;
}
.sizew300 {
    width: 300px !important;
}
.sizew400 {
    width: 400px !important;
}
.sizew500 {
    width: 500px !important;
}
.sizew600 {
    width: 600px !important;
}
.sizew700 {
    width: 700px !important;
}
.sizew800 {
    width: 800px !important;
}
.sizew900 {
    width: 900px !important;
}
.sizew1000 {
    width: 1000px !important;
}
.sizew150 {
    width: 150px !important;
}
.sizew250 {
    width: 250px !important;
}
.sizew350 {
    width: 350px !important;
}
.sizew450 {
    width: 450px !important;
}
.sizew550 {
    width: 550px !important;
}
.sizew650 {
    width: 650px !important;
}
.sizew750 {
    width: 750px !important;
}
.sizew850 {
    width: 850px !important;
}
.sizew950 {
    width: 950px !important;
}
.text-red {
    color: #FF0000 !important;
}
.text-white {
    color: #FFFFFF !important;
}
.text-black {
    color: #000000 !important;
}
.text-green {
    color: #008000 !important;
}
.text-blue {
    color: #0000FF !important;
}
.text-yellow {
    color: #FFFF00 !important;
}
.text-orange {
    color: #FFA500 !important;
}
.text-purple {
    color: #800080 !important;
}
.text-cadetblue {
    color: #5F9EA0 !important;
}
.text-coral {
    color: #FF7F50 !important;
}
.text-lightblue {
    color: #6495ED !important;
}
.text-darkcyan {
    color: #008B8B !important;
}
.text-indianred {
    color: #CD5C5C !important;
}
.text-olive {
    color: #808000 !important;
}
.text-slategray {
    color: #708090 !important;
}
.text-tomato {
    color: #FD6347 !important;
}
p {
    margin-bottom: 1em;
}
blockquote {
    border-left: 4px solid #CCCCCC;
    font-family: Georgia,'Times New Roman',serif;
    font-size: 1.2em;
    padding-left: 1em;
}
blockquote cite {
    font-size: 0.9em;
}
ul, ol {
    padding-top: 0;
}
code {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    padding: 0 5px 1px;
}
.container_12 {
    position: relative;
    text-align: left;
}
.clear {
    clear: both;
}

table.tableStyle01 td, table.tableStyle01 th {
    border: 1px solid #afafaf;
    padding: 4px;
}
table.tableNoStyle01{border:none;}
table.tableNoStyle01 td, table.tableNoStyle01 th {
    border: none;
    padding: 4px;
}
#layout {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 600px;
}
#container {
    margin-top: 10px;
    /*min-height: 400px;*/
    padding-bottom: 25px !important;
    width:980px; 
    height:auto;
}
.logo_profile .logo_img img {
    margin-bottom: 5px;
}
.logo_profile .profile_meta .user_meta {
    background: none repeat scroll 0 0 #F4F4F4;
    border: 1px solid #AAAAAA;
    border-radius: 4px 4px 4px 4px;
    display: block;
    float: right;
    margin: 7px 0 0;
    padding: 5px;
}
.logo_profile .profile_meta .user_meta img {
    border-radius: 4px 4px 4px 4px;
    height: 35px;
    margin: 0 10px 0 0;
    padding: 2px;
    width: 35px;
}
.logo_profile .profile_meta .user_meta div {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
}
.logo_profile .profile_meta .user_meta .name {
    color: #B52B4D;
}
.logo_profile .profile_meta .user_meta a.submeta {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    color: #555555;
    font-size: 10px;
    padding: 1px 4px;
}
.logo_profile .profile_meta .user_meta a.submeta:hover {
    color: #222222;
}
#top {
    border: 0 none;
    left: 0;
    margin: 0 0%;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
}
.top_in {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #BBBBBB #BBBBBB;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-right: 1px solid #BBBBBB;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
#top_bar {
   border: 1px none #BBBBBB;
    border-radius: 0px 0px 0 0;
    border-top:1px solid #BBBBBB;
}
#top #second_top_bar {
    background: -moz-linear-gradient(center top , #EAEAEA 0px, #E5E5E5 100%) repeat scroll 0 0 transparent;
	background-color:#EAEAEA;
    border-radius: 5px 5px 5px 5px;
    border-top: 1px solid #bbbbbb;
    box-shadow: 0 8px 26px -3px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    padding: 5px 2% 4px;
    position: relative;
	
}
#footer_bar {
    background: -moz-linear-gradient(center top , #E5E5E5 1%, #DBDBDB 100%) repeat scroll 0 0 transparent;
    border-top: 1px solid #BBBBBB;
    bottom: 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.3) inset;
    left: 0;
    overflow: hidden;
    padding: 8px 2%;
    position: relative;
    width: 96%;
    z-index: 999;
}
#footer_bar .copyr {
    text-align: center;
}
.box {
    border: 1px solid #BBBBBB;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 20px;
    position: relative;
}
.box .title {
    background: -moz-linear-gradient(center top , #EAEAEA 0px, #E5E5E5 100%) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #BBBBBB;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #333333;
    font-size: 12px;
    font-weight: 700;
    padding: 8px 10px;
    position: relative;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}
.box .inside {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #FFFFFF;
    border-radius: 0 0 5px 5px;
    padding: 0;
}
.box .inside .in {
    padding: 10px;
}
.box .inside .in .display {
    overflow: hidden;
}
.box .tool {
    position: absolute;
    right: 5px;
    top: 5px;
}
.box .tool .help {
    background: url("../images/help.png") no-repeat scroll center center transparent;
    display: block;
    height: 24px;
    width: 24px;
}
.box .tool .help:hover {
    cursor: pointer;
}
.box_row {
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #FFFFFF;
    clear: both;
    padding: 10px 0;
    position: relative;
}
.box_row.first {
    border-top: 0 none;
}
.box_row.last {
    border-bottom: 0 none;
}
.box_row .text_elem {
    padding: 7px 0 !important;
}

mark, span.code_exp {
    border: 1px solid #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    padding: 1px 9px;
}
a:hover mark {
    background: none repeat scroll 0 0 #708090;
    color: #FFFFFF;
}
mark.style1 {
    background-color: #EEEEEE;
    color: #333333;
}
mark.style2 {
    background-color: #FFFF66;
    color: #000000;
}
mark.style3 {
    background-color: #333333;
    color: #F5F5F5;
}
mark.style4, span.code_exp {
    background-color: #CD5C5C;
    color: #F5F5F5;
}
mark.style5 {
    background-color: #6495ED;
    color: #FFFFFF;
}
mark.style6 {
    background-color: #008B8B;
    color: #FFFFFF;
}
mark.style7 {
    background-color: #FF8C00;
    color: #FFFFFF;
}
mark.style8 {
    background-color: #2E8B57;
    color: #FFFFFF;
}
mark.style9 {
    background-color: #3D5578;
    color: #FFFFFF;
}
mark.style10 {
    background-color: #A52A2A;
    color: #FFFFFF;
}
mark.style11 {
    background-color: #4169E1;
    color: #FFFFFF;
}
mark.style12 {
    background-color: #A0522D;
    color: #FFFFFF;
}
.alert {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.2) inset;
    font-family: Helvetica,Arial,"Times New Roman",Times,serif;
    font-size: 12px;
    font-style: normal;
    margin: 12px 0 20px;
    padding: 15px 10px 15px 55px;
    position: relative;
    width: auto;
}
.alert_close {
   /* background:url(../images/cross.png) repeat scroll center 0 transparent;*/
    cursor: pointer;
    height: 14px;
    position: absolute;
    right: 0;
    top: 0;
    width: 14px;
}
.alert_close:hover {
   /* background-position: center -33px;*/
}
.info_msg {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background:url(../images/info_button_32.png) no-repeat scroll 8px 8px #c2def5;
    border-color: #70A2C9 #5F9BC9;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #2E6093;
    text-shadow: 1px 1px 1px #E2F6FA;
    width:93%;
    margin:0 auto;
    margin-top:15px;
    margin-bottom:20px;
	
}
.error_msg {
    background:url(../images/close_32.png) no-repeat scroll 8px 8px #ffadba; /*-moz-linear-gradient(center top , #FFC8D1 0px, #FF93A3 100%) repeat scroll 0 0 transparent;*/
    border: 1px solid #D96E66;
    color: #CD0A0A;
    text-shadow: 1px 1px 1px #FFAEBC;
    width:93%;
    margin:0 auto;
    margin-top:19px;
    margin-bottom:20px;
    
}
.saved_msg {
       background:url(../images/save_32.png) no-repeat scroll 8px 8px #94bfe1;/*-moz-linear-gradient(center top , #B5D8FA 0px, #8CB9DB 100%) repeat scroll 0 0 transparent;*/
    border: 1px solid #6495ed;
    color: #36414B;
    text-shadow: 1px 1px 1px #D5EAA8;
    width:93%;
    margin:0 auto;
    margin-top:19px;
    margin-bottom:20px;
    
}
.succes_msg {
       background:url(../images/tick.png) no-repeat scroll 8px 9px #a9cc5c; /*-moz-linear-gradient(center top , #CDEB8E 0px, #A5C956 100%) repeat scroll 0 0 transparent;*/
    border: 1px solid #87AE33;
    color: #3F4B25;
    text-shadow: 1px 1px 1px #D5EAA8;
    width:93%;
    margin:0 auto;
    margin-top:19px;
    margin-bottom:20px;
    
}
.exclamation_msg {
    background: url("../images/woo/warning_32.png") no-repeat scroll 8px 8px, -moz-linear-gradient(center top , #FFEDC1 0px, #FCDE8D 100%) repeat scroll 0 0 transparent;
    border: 1px solid #EA9936;
    color: #FF4500;
    text-shadow: 1px 1px 1px #FFEDC1;
}
.small_alert {
    border: 0 none;
    font-family: Helvetica,Arial,"Times New Roman",Times,serif;
    font-size: 12px;
    font-style: normal;
    margin: 0;
    padding: 5px 10px;
    position: relative;
    width: auto;
}
.small_alert.info {
    background: none repeat scroll 0 0 #C7E3F9;
    border-bottom: 1px solid #70A2C9;
    color: #2E6093;
    text-shadow: 1px 1px 1px #E2F6FA;
}
.small_alert.error {
    background: none repeat scroll 0 0 #FFC8D1;
    border-bottom: 1px solid #D96E66;
    color: #CD0A0A;
    text-shadow: 1px 1px 1px #FFAEBC;
}
.small_alert.succes {
    background: none repeat scroll 0 0 #CDEB8E;
    border-bottom: 1px solid #87AE33;
    color: #3F4B25;
    text-shadow: 1px 1px 1px #D5EAA8;
}
.small_alert.atention {
    background: none repeat scroll 0 0 #FFEDC1;
    border-bottom: 1px solid #EA9936;
    color: #FF4500;
    text-shadow: 1px 1px 1px #FFEDC1;
}
.pagination {
    margin-bottom: 15px;
    margin-top: 15px;
	margin-right:12px;
    text-align: right;
}
.pagination a {
    background: -moz-linear-gradient(center top , #F9F9F9 0px, #E5E5E5 100%) repeat scroll 0 0 transparent;
    border: 1px solid #AAAAAA;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font: 700 11px Helvetica,Arial,sans-serif;
    margin: 0 2px;
    padding: 5px 9px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
    vertical-align: middle;
}
.pagination a:hover {
    background: none repeat scroll 0 0 #F5F5F5;
    border-color: #888888;
    color: #333333;
}
.pagination.green_pag a:hover, .pagination.green_pag a.current:hover, .pagination.green_pag a.current {
    background: none repeat scroll 0 0 #87BA4C !important;
    border-color: #4E7521;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.pagination.blue_pag a:hover, .pagination.blue_pag a.current:hover, .pagination.blue_pag a.current {
    background: none repeat scroll 0 0 #649FD8;
    border-color: #0076A9;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.pagination.black_pag a:hover, .pagination.black_pag a.current:hover, .pagination.black_pag a.current {
    background: none repeat scroll 0 0 #394148;
    border-color: #21272D;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.pagination.green_pag a:hover, .pagination.blue_pag a:hover, .pagination.black_pag a:hover, .pagination.green_pag a.current, .pagination.blue_pag a.current, .pagination.black_pag a.current {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
}
.pagination a.disabled, .pagination a.disabled:hover {
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #CCCCCC;
    color: #AAAAAA;
    cursor: default;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
}
.pagination a.current, .pagination a.current:hover {
    background: none repeat scroll 0 0 #F9F9F9;
    border-color: #777777;
    color: #333333;
    cursor: default;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
}
#gallery {
    float: left;
    min-height: 12em;
}
* html #gallery {
    height: 12em;
}
.gallery.custom-state-active {
    background: none repeat scroll 0 0 #EEEEEE;
}
.gallery li {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    float: left;
    margin: 0 0.6em 0.6em 0;
    padding: 0.4em;
    text-align: center;
    width: 122px;
}
.gallery li h5 {
    cursor: move;
    margin: 0 0 0.4em;
}
.gallery li a {
    float: right;
}
.gallery li img {
    cursor: move;
    margin: 0;
    padding: 0;
    width: 100%;
}
#trash {
    background: url("../images/trash.png") no-repeat scroll right bottom #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    float: right;
    min-height: 31.9em;
    padding: 0.4em;
}
* html #trash {
    height: 18em;
}
#trash h4 {
    line-height: 16px;
    margin: 0;
}
#trash .gallery h5 {
    display: none;
}
#trash .ui-widget-content {
    margin: 0 3px 5px;
}
.gallery li a.ui-icon-zoomin, #trash h4 .ui-icon {
    float: left;
}
.gallery li .ui-widget-header {
    padding: 0.6em 0;
}
#gallery2 {
    float: left;
    min-height: 12em;
}
* html #gallery2 {
    height: 12em;
}
.gallery2.custom-state-active {
    background: none repeat scroll 0 0 #EEEEEE;
}
.gallery2 li {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    float: left;
    list-style: none outside none;
    margin: 0 0.29em 0.8em;
    padding: 0.4em;
    text-align: center;
    width: 122px;
}
.gallery2 li h5 {
    cursor: default;
    margin: 0 0 0.4em;
}
.gallery2 li a {
    float: right;
}
.gallery2 li img {
    cursor: move;
    margin: 0;
    padding: 0;
    width: 100%;
}
.gallery2 li a.ui-icon-zoomin {
    float: left;
}
#login_form {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    display: block;
    left: 50%;
    margin-left: -150px;
    margin-top: -140px;
    padding: 0;
    position: relative;
    top: 50%;
    width: 300px;
}
#login_form .login_form_head {
    background: -moz-linear-gradient(center top , #EAEAEA 0px, #E5E5E5 100%) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #AAAAAA;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #444444;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 15px;
    text-align: center;
    text-shadow: 1px 1px 1px #FFFFFF;
    text-transform: uppercase;
}
#login_form .login_form_display {
    border-top: 1px solid #FFFFFF;
    padding: 10px;
}
#login_form .login_row {
    margin-bottom: 17px;
    margin-top: 17px;
}
.login_footer {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #E7E7E7;
    border-color: #DDDDDD -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    clear: both;
    margin-top: 5px;
    padding: 0;
    position: relative;
}
.login_footer input {
    margin: 6px 10px 7px !important;
}
.login_footer ul.formee-list {
    margin-top: 5px !important;
}
.docs_title, .docs_title_first {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EF9583;
    border-radius: 3px 3px 3px 3px;
    color: #9A1412;
    margin: 45px 0 20px;
    padding: 9px 0;
    text-align: center;
}
.docs_title_first {
    margin-top: 20px;
}
.docs_refer {
    background: none repeat scroll 0 0 #E6FAFF;
    border: 1px solid #4F7D9A;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    margin: 10px 0 20px;
    padding: 4px 10px;
    text-align: left;
}
.docs_refer strong {
    color: #B2221F;
    margin-right: 10px;
}
.docs_refer ul {
    margin: 5px 0 5px 20px;
}
.docs_refer li {
    margin: 0 0 2px;
}
.docs_refer a {
    border-radius: 3px 3px 3px 3px;
    color: #146791;
    padding: 0 4px;
}
.docs_refer a:hover {
    background: none repeat scroll 0 0 #6495ED;
    color: #FFFFFF;
}
.docs_imgframe {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BBBBBB;
    color: #555555;
    font-size: 11px;
}
.docs_imgframe em {
    display: block;
    padding: 2px 6px;
}
.docs_imgframe img {
    border: 1px solid #C8D5E3;
    clear: both;
    margin: 4px;
    padding: 0;
}
.docs_result {
    border: 1px dashed #CE4D60;
    border-radius: 3px 3px 3px 3px;
    margin: 20px 0;
    padding: 5px;
}
.docs_result .docsR_title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CE4D60 #CE4D60 -moz-use-text-color;
    border-image: none;
    border-radius: 3px 3px 0 0;
    border-style: dashed dashed none;
    border-width: 1px 1px 0;
    color: #CE2724;
    font-weight: 700;
    left: 4px;
    padding: 2px 15px;
    position: relative;
    text-align: center;
    top: -25px;
}

/*----------new----------*/
#container.chartPage {    width: auto; padding:0 20px;} 
#container.chartPage .main_wrapper{max-width: none;}
#container.chartPage #Navigation{ width:100%;}
#container.chartPage .sf-menu{ width:100%;}
.highcharts-container, .highcharts-container svg {width:100% !important;}
.highcharts-container {
    width:100% !important;
    height:100% !important;
}