body {
	min-height: 500px;
}

#processingChargeDiv {
	float: left;
	width: 600px;
	margin-right: 2em;
}

#paymentProviderDiv {
	width: 300px;
	float: left;
}

#tabs {
	margin-top: 1em;
}

#tabs li .ui-icon-close {
	float: left;
	margin: 0.4em 0.2em 0 0;
	cursor: pointer;
}

#add_tab {
	cursor: pointer;
}